.wrapper1{
    color: #fff;
    background-color: #38d16a;
}
.wrapper1 p{
    color: #fff;
}
.wrapper2-bg{
    background-color: #000;
}
.wrapper2 h6 {
    color: #38d16a;
}
.wrapper2 h1{
    color: #fff;
    font-weight: bold;
}

