.manImage{
    width: 65%;
    margin-left: 170px;
    height: auto;
}
.home h1{
    font-size: 60px;
    font-weight: bold;
    margin-top: 200px;
 }
 .socialIcon i{
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin-right: 10px;
    border-radius: 90%;
    transition: 0.5s;
    cursor: pointer;
  }
  .socialIcon i:hover{
    color: #fff;
  }
  .facebook{
    color: #4267b2;
    border: 1px solid #4267b2;
  }
  .facebook:hover{
    background-color: #4267b2;
  }
  .instagram{
    color: #e95950;
    border: 1px solid #e95950;
  }
  .instagram:hover{
    background-color: #e95950;
  }
  .twitter{
    color: #1DA1F2;
    border: 1px solid #1DA1F2;
  }
  .twitter:hover{
    background-color: #1DA1F2;
  }
  .youtube{
    color: #FF0000;
    border: 1px solid #FF0000;
  }
  .youtube:hover{
    background-color: #FF0000;
  }
  .pinterest{
    color: #E60023;
    border: 1px solid #E60023;
  }
  .pinterest:hover{
    background-color: #E60023;
  }
  .dribbble{
    color: #ea4c89;
    border: 1px solid #ea4c89 ;
  }
  .dribbble:hover{
    background-color: #ea4c89;
  }

  button{
    background: none;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 600;
    font-style: 15px;
    transition: 0.5s;
    cursor: pointer;
  }
  .primary-btn{
    padding: 15px 40px;
    background-color: #38d16a;
  }
  .primary-btn:hover{
    background-color: #f54ea2;
    box-shadow: 0 13px 27px 0 rgb(245 78 162 / 25%);
  }
  .home .socialIcon{
    margin: 30px 0;
  }
  .home p{
    margin-bottom: 20px;
  }
  p{
    color: #6185a5;
    line-height: 30px;
  }

 /* media Query  */
 @media only screen and (max-width: 600px) {
    .manImage{
        width: 100%;
        margin-left: 0px;
        margin-top: 30px;
    }
 }

 @media only screen and (min-width: 768px) {
    .manImage{
        width: 100%;
        margin-left: 0px;
        height: auto;
        margin-top: 40px;
    }
 }

 @media only screen and (min-width: 992px) {
    .manImage{
        width: 65%;
        margin-left: 170px;
        height: auto;
        margin-top: 0px;
    }
 }